In [ ]:
!wget https://ai-data.obs.ru-moscow-1.hc.sbercloud.ru/%D0%BF%D1%80%D0%B5%D0%B4%D1%81%D0%BA%D0%B0%D0%B7%D0%B0%D0%BD%D0%B8%D0%B5_%D1%81%D0%BF%D1%80%D0%BE%D1%81%D0%B0.zip
!unzip предсказание_спроса.zip

--2022-08-27 17:04:21--  https://ai-data.obs.ru-moscow-1.hc.sbercloud.ru/%D0%BF%D1%80%D0%B5%D0%B4%D1%81%D0%BA%D0%B0%D0%B7%D0%B0%D0%BD%D0%B8%D0%B5_%D1%81%D0%BF%D1%80%D0%BE%D1%81%D0%B0.zip
Resolving ai-data.obs.ru-moscow-1.hc.sbercloud.ru (ai-data.obs.ru-moscow-1.hc.sbercloud.ru)... 46.243.206.34, 46.243.206.35
Connecting to ai-data.obs.ru-moscow-1.hc.sbercloud.ru (ai-data.obs.ru-moscow-1.hc.sbercloud.ru)|46.243.206.34|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31059556 (30M) [application/zip]
Saving to: ‘предсказание_спроса.zip’

предсказание_спроса 100%[===================>]  29.62M  13.2MB/s    in 2.2s

2022-08-27 17:04:24 (13.2 MB/s) - ‘предсказание_спроса.zip’ saved [31059556/31059556]

In [ ]:
!gdown --fuzzy https://drive.google.com/file/d/1fQnOwYeNaW2gYIW5zLvY1LXYwcXLJA04/view?usp=sharing # купить ростелеком.csv
!gdown --fuzzy https://drive.google.com/file/d/1n4_BK05cf42CMwDu2Jl37ZyG4n4oKmUy/view?usp=sharing # ростелеком тариф игровой.csv
!gdown --fuzzy https://drive.google.com/file/d/15CRCD8WDyoibX9k6-QAqLe6HhoI4OZ6f/view?usp=sharing # тариф игровой wot.csv
!gdown --fuzzy https://drive.google.com/file/d/1cs9WuiNXoVCJqbxEmQJY8ASMXYReQvGE/view?usp=sharing # ростелеком горячая линия.csv
!gdown --fuzzy https://drive.google.com/file/d/15PP5uf1sspMWwhLD_A1kt_3NbpkxFIjY/view?usp=sharing # ростелеком.csv
!gdown --fuzzy https://drive.google.com/file/d/10_LA3_qM3UOFTE2Scs5Z2poydpiMdGCm/view?usp=sharing # wink ростелеком.csv

Downloading...
From: https://drive.google.com/uc?id=1fQnOwYeNaW2gYIW5zLvY1LXYwcXLJA04
To: /content/купить ростелеком.csv
100% 3.76k/3.76k [00:00<00:00, 5.71MB/s]
Downloading...
From: https://drive.google.com/uc?id=1n4_BK05cf42CMwDu2Jl37ZyG4n4oKmUy
To: /content/ростелеком тариф игровой.csv
100% 3.65k/3.65k [00:00<00:00, 4.33MB/s]
Downloading...
From: https://drive.google.com/uc?id=15CRCD8WDyoibX9k6-QAqLe6HhoI4OZ6f
To: /content/тариф игровой wot.csv
100% 3.56k/3.56k [00:00<00:00, 4.58MB/s]
Downloading...
From: https://drive.google.com/uc?id=1cs9WuiNXoVCJqbxEmQJY8ASMXYReQvGE
To: /content/ростелеком горячая линия.csv
100% 3.78k/3.78k [00:00<00:00, 4.49MB/s]
Downloading...
From: https://drive.google.com/uc?id=15PP5uf1sspMWwhLD_A1kt_3NbpkxFIjY
To: /content/ростелеком.csv
100% 3.75k/3.75k [00:00<00:00, 3.54MB/s]
Downloading...
From: https://drive.google.com/uc?id=10_LA3_qM3UOFTE2Scs5Z2poydpiMdGCm
To: /content/wink ростелеком.csv
100% 3.70k/3.70k [00:00<00:00, 4.60MB/s]

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
google_trends1 = pd.read_csv("купить ростелеком.csv", skiprows=1)
google_trends1.columns = ["date", "value"]
google_trends1["date"] = pd.to_datetime(google_trends1["date"])

In [ ]:
google_trends2 = pd.read_csv("ростелеком тариф игровой.csv", skiprows=1)
google_trends2.columns = ["date", "value"]
google_trends2["date"] = pd.to_datetime(google_trends2["date"])

In [ ]:
google_trends3 = pd.read_csv("тариф игровой wot.csv", skiprows=1)
google_trends3.columns = ["date", "value"]
google_trends3["date"] = pd.to_datetime(google_trends3["date"])

In [ ]:
google_trends4 = pd.read_csv("ростелеком горячая линия.csv", skiprows=1)
google_trends4.columns = ["date", "value"]
google_trends4["date"] = pd.to_datetime(google_trends4["date"])

In [ ]:
google_trends5 = pd.read_csv("ростелеком.csv", skiprows=1)
google_trends5.columns = ["date", "value"]
google_trends5["date"] = pd.to_datetime(google_trends5["date"])

In [ ]:
google_trends6 = pd.read_csv("wink ростелеком.csv", skiprows=1)
google_trends6.columns = ["date", "value"]
google_trends6["date"] = pd.to_datetime(google_trends6["date"])

In [ ]:
time_series_covid19_confirmed_global = pd.read_csv("https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
time_series_covid19_confirmed_global = time_series_covid19_confirmed_global[time_series_covid19_confirmed_global["Country/Region"] == "Russia"].T.iloc[4:].reset_index()
time_series_covid19_confirmed_global.columns = ["date", "value"]
time_series_covid19_confirmed_global["date"] = pd.to_datetime(time_series_covid19_confirmed_global["date"])

time_series_covid19_deaths_global = pd.read_csv("https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")
time_series_covid19_deaths_global = time_series_covid19_deaths_global[time_series_covid19_deaths_global["Country/Region"] == "Russia"].T.iloc[4:].reset_index()
time_series_covid19_deaths_global.columns = ["date", "value"]
time_series_covid19_deaths_global["date"] = pd.to_datetime(time_series_covid19_deaths_global["date"])

In [ ]:
def df_covid_convert(df, suffix="", agg=["mean", "median"]):
    df = df.groupby([(df.date.dt.year), (df.date.dt.month)])["value"].agg(agg)
    df.index.names = ("year", "month")
    df = df.reset_index()
    df.columns += suffix
    return df

In [ ]:
for i in range(1, 7):
  exec(f't{i} = df_covid_convert(google_trends{i}, "_google_trends{i}", agg=["mean"])')

In [ ]:
time_series_covid19_confirmed_global = df_covid_convert(time_series_covid19_confirmed_global, "_covid19_confirmed")
time_series_covid19_deaths_global = df_covid_convert(time_series_covid19_deaths_global, "_covid19_deaths")

In [ ]:
df = pd.DataFrame({"period": pd.date_range(start=pd.datetime(2020, 1, 1), end=pd.datetime(2022, 9, 1), freq="M")})
df["month"] = df["period"].dt.month
df["year"] = df["period"].dt.year
df = df.drop(["period"], axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.

In [ ]:
df = df.merge(time_series_covid19_confirmed_global,
              left_on=["year", "month"],
              right_on=["year_covid19_confirmed", "month_covid19_confirmed"],
              how="left")

df = df.merge(time_series_covid19_deaths_global,
              left_on=["year", "month"],
              right_on=["year_covid19_deaths", "month_covid19_deaths"],
              how="left")

df = df.drop(["year_covid19_deaths", "month_covid19_deaths",
              "year_covid19_confirmed", "month_covid19_confirmed"], axis=1)

In [ ]:
for i in range(1, 7):
  exec(f'''df = df.merge(t{i},
              left_on=["year", "month"],
              right_on=["year_google_trends{i}", "month_google_trends{i}"],
              how="left")''')
  df = df.drop([f"year_google_trends{i}", f"month_google_trends{i}"], axis=1)

In [ ]:
df[['mean_covid19_confirmed', 'median_covid19_confirmed', 'mean_covid19_deaths',
    'median_covid19_deaths', 'mean_google_trends1', 'mean_google_trends2', 'mean_google_trends3', 
    'mean_google_trends4', 'mean_google_trends5', 'mean_google_trends6']].drop_duplicates().corr()

,mean_covid19_confirmed,median_covid19_confirmed,mean_covid19_deaths,median_covid19_deaths,mean_google_trends1,mean_google_trends2,mean_google_trends3,mean_google_trends4,mean_google_trends5,mean_google_trends6
mean_covid19_confirmed,1.000000,0.999987,0.981504,0.981500,0.032321,-0.257941,0.005675,0.820078,-0.713352,-0.394341
median_covid19_confirmed,0.999987,1.000000,0.981206,0.981202,0.032985,-0.257921,0.004581,0.819752,-0.713436,-0.394554
mean_covid19_deaths,0.981504,0.981206,1.000000,0.999999,-0.043655,-0.294675,0.035964,0.810507,-0.761254,-0.368982
median_covid19_deaths,0.981500,0.981202,0.999999,1.000000,-0.043527,-0.294554,0.036100,0.810326,-0.761163,-0.368834
mean_google_trends1,0.032321,0.032985,-0.043655,-0.043527,1.000000,0.190266,-0.061698,-0.056133,0.223414,-0.060369
mean_google_trends2,-0.257941,-0.257921,-0.294675,-0.294554,0.190266,1.000000,-0.035307,-0.079698,0.539283,0.193749
mean_google_trends3,0.005675,0.004581,0.035964,0.036100,-0.061698,-0.035307,1.000000,0.144150,0.086093,0.175280
mean_google_trends4,0.820078,0.819752,0.810507,0.810326,-0.056133,-0.079698,0.144150,1.000000,-0.396013,-0.312271
mean_google_trends5,-0.713352,-0.713436,-0.761254,-0.761163,0.223414,0.539283,0.086093,-0.396013,1.000000,0.389954
mean_google_trends6,-0.394341,-0.394554,-0.368982,-0.368834,-0.060369,0.193749,0.175280,-0.312271,0.389954,1.000000

In [ ]:
df[["year", "month", 'mean_covid19_confirmed', 'median_covid19_confirmed', 'mean_covid19_deaths',
    'median_covid19_deaths', 'mean_google_trends1', 'mean_google_trends2', 'mean_google_trends3',
    'mean_google_trends4', 'mean_google_trends5', 'mean_google_trends6']].drop_duplicates().reset_index(drop=True).to_csv("ext_data_v1.csv", index=False)

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
response = requests.get("https://bdex.ru/ratings/cities-salary/")
soup = BeautifulSoup(response.content)

data = []
for div in soup.find_all("div", {"class": "row reg_row"}):
    data.append((div.find("div", {"class": "reg_name"}).text,
                 div.find("div", {"class": "reg_fo"}).text,
                 int(div.find("span", {"class": "reg_salary"}).text.replace("\xa0", "")[:-1])))

In [ ]:
import pickle

with open("cities-salary.pkl", "wb") as f:
    pickle.dump(data, f)

In [ ]:
train = pd.read_csv("train.csv", delimiter=';')
train["period"] = pd.to_datetime(train["period"], format='%Y-%m-%d')
train["month"] = train["period"].dt.month
train["year"] = train["period"].dt.year

In [ ]:
train

,label,period,subject_type,subject_name,city_name,hex,hex_lat,hex_lon,f1,f2,...,f23,f24,f25,f26,f27,f28,f29,f30,month,year
0,1,2020-05-01,Город,Москва,Москва,8611aa7a7ffffff,55.729458,37.516569,0.00101,0.00103,...,0.00000,NaN,NaN,NaN,NaN,NaN,0.01737,0.0,5,2020
1,1,2020-05-01,Город,Москва,Москва,8611aa01fffffff,55.975851,37.237085,0.00000,0.00027,...,0.00000,NaN,NaN,NaN,NaN,NaN,0.01152,0.0,5,2020
2,1,2020-05-01,Город,Москва,Москва,861181b6fffffff,55.622721,37.695121,0.00339,0.00313,...,0.00000,0.11053,0.57895,0.00526,0.02105,0.00000,0.01540,0.0,5,2020
3,1,2020-05-01,Город,Москва,Москва,8611aa017ffffff,55.941586,37.157487,0.00048,0.00054,...,0.00049,NaN,NaN,NaN,NaN,NaN,0.01495,0.0,5,2020
4,1,2020-05-01,Город,Москва,Москва,8611aa637ffffff,55.797494,37.676200,0.00164,0.00179,...,0.00000,0.14444,0.64444,0.01111,0.04444,0.01111,0.01266,0.0,5,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294253,0,2020-12-01,Край,Хабаровский,Рощино,8614d6497ffffff,48.364768,134.996232,0.00111,0.00100,...,0.00000,0.33929,0.78571,0.00000,0.01786,0.03571,0.01667,0.0,12,2020
294254,0,2020-12-01,Край,Приморский,Шкотово,86316c8cfffffff,43.309803,132.345989,0.00075,0.00065,...,0.00000,0.09449,0.80315,0.00787,0.00000,0.05512,0.02273,0.0,12,2020
294255,0,2020-12-01,Край,Приморский,Партизанск,862ecdb2fffffff,43.057826,133.155582,0.00018,0.00014,...,0.00000,0.07547,0.81132,0.00000,0.00000,0.01887,0.00000,0.0,12,2020
294256,0,2020-12-01,Край,Камчатский,Вилючинск,861616747ffffff,52.908685,158.406443,0.00075,0.00138,...,0.00000,NaN,NaN,NaN,NaN,NaN,0.06398,0.0,12,2020
294257,0,2020-12-01,Край,Хабаровский,Хабаровск,862eda4dfffffff,48.379865,135.164808,0.00000,0.00003,...,0.00000,0.11508,0.73016,0.01190,0.00397,0.02381,0.03867,0.0,12,2020

In [ ]:
train = pd.read_csv("train.csv", delimiter=';')
train["period"] = pd.to_datetime(train["period"], format='%Y-%m-%d')
train["month"] = train["period"].dt.month
train["year"] = train["period"].dt.year
train["city_name"] = train["city_name"].str.strip().str.lower()

with open("cities-salary.pkl", "rb") as f:
    data = pickle.load(f)

data_df = pd.DataFrame(data, columns=["city", "region", 'value'])
data_df["city"] = data_df["city"].str.strip().str.lower()
city2value = dict(data_df[["city", "value"]].values)

train["salary"] = train["city_name"].apply(lambda x: city2value.get(x, 20000))

In [ ]:
train

,label,period,subject_type,subject_name,city_name,hex,hex_lat,hex_lon,f1,f2,...,f24,f25,f26,f27,f28,f29,f30,month,year,salary
0,1,2020-05-01,Город,Москва,москва,8611aa7a7ffffff,55.729458,37.516569,0.00101,0.00103,...,NaN,NaN,NaN,NaN,NaN,0.01737,0.0,5,2020,113600
1,1,2020-05-01,Город,Москва,москва,8611aa01fffffff,55.975851,37.237085,0.00000,0.00027,...,NaN,NaN,NaN,NaN,NaN,0.01152,0.0,5,2020,113600
2,1,2020-05-01,Город,Москва,москва,861181b6fffffff,55.622721,37.695121,0.00339,0.00313,...,0.11053,0.57895,0.00526,0.02105,0.00000,0.01540,0.0,5,2020,113600
3,1,2020-05-01,Город,Москва,москва,8611aa017ffffff,55.941586,37.157487,0.00048,0.00054,...,NaN,NaN,NaN,NaN,NaN,0.01495,0.0,5,2020,113600
4,1,2020-05-01,Город,Москва,москва,8611aa637ffffff,55.797494,37.676200,0.00164,0.00179,...,0.14444,0.64444,0.01111,0.04444,0.01111,0.01266,0.0,5,2020,113600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294253,0,2020-12-01,Край,Хабаровский,рощино,8614d6497ffffff,48.364768,134.996232,0.00111,0.00100,...,0.33929,0.78571,0.00000,0.01786,0.03571,0.01667,0.0,12,2020,20000
294254,0,2020-12-01,Край,Приморский,шкотово,86316c8cfffffff,43.309803,132.345989,0.00075,0.00065,...,0.09449,0.80315,0.00787,0.00000,0.05512,0.02273,0.0,12,2020,20000
294255,0,2020-12-01,Край,Приморский,партизанск,862ecdb2fffffff,43.057826,133.155582,0.00018,0.00014,...,0.07547,0.81132,0.00000,0.00000,0.01887,0.00000,0.0,12,2020,20000
294256,0,2020-12-01,Край,Камчатский,вилючинск,861616747ffffff,52.908685,158.406443,0.00075,0.00138,...,NaN,NaN,NaN,NaN,NaN,0.06398,0.0,12,2020,20000
294257,0,2020-12-01,Край,Хабаровский,хабаровск,862eda4dfffffff,48.379865,135.164808,0.00000,0.00003,...,0.11508,0.73016,0.01190,0.00397,0.02381,0.03867,0.0,12,2020,59600